h1 {

    background-color: bisque;
    color: coral;
}

p {

    background-color: aquamarine;
    color: darkblue;
}

h3 {
     background-color: purple;
     color: pink;

}

:host {


    color: green;

    --bg-color : coral;
    --color : black;
    
}